@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e6f7fc;
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom scrollbar styling */
.custom-scrollbar-track {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  border-radius: 10px;
}

.custom-scrollbar-thumb {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 30%;
  border-radius: 10px;
  background-color: rgba(106, 202, 234, 0.55);
  backdrop-filter: blur(2.24px);
  -webkit-backdrop-filter: blur(2.24px);
}

/* Hide default scrollbar */
.custom-scrollbar-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  display: none;
}

/* Blinking cursor animation */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
